@use '@/styles/variables' as *;

// ------------------------------+
//
// CURSOR
//
// ------------------------------+

// Ring sizes (clairs et explicites)
$dot_size: $small_margin; // 10px
$ring_size: $big_margin; // 40px
$ring_hover_size: 60px;

.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: $z_cursor;
  opacity: 0;
  transition: opacity $transition_time;

  &.visible {
    opacity: 1;
  }

  // Cursor dot
  .dot {
    position: absolute;
    width: $dot_size;
    height: $dot_size;
    margin: calc(-#{$dot_size} / 2);
    border-radius: $circle_border_radius;
    background: var(--color-primary);
    box-shadow: $shadow_box;
  }

  // Cursor ring
  .ring {
    position: absolute;
    width: $ring_size;
    height: $ring_size;
    margin: calc(-#{$ring_size} / 2);
    border-radius: $circle_border_radius;
    border: $border_width solid var(--color-primary);
    opacity: $less_opacity;

    transition:
      width $transition_time,
      height $transition_time,
      margin $transition_time,
      opacity $transition_time,
      border-width $transition_time;

    &.hovering {
      width: $ring_hover_size;
      height: $ring_hover_size;
      margin: calc(-#{$ring_hover_size} / 2);
      opacity: 1;
      border-width: $border_width_big;
      box-shadow: $shadow_box;
    }
  }
}

/* Disable custom cursor on touch devices */
@media (hover: none) and (pointer: coarse) {
  .container {
    display: none;
  }
}
