@use '@/styles/variables' as *;

// ------------------------------+
//
// MAIN LAYOUT
//
// ------------------------------+

// Global container - fullscreen fixed overlay
.global_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $z_content;
}
